<div class="flex flex-col gap-2 p-6 bg-white rounded-lg shadow">
<h5 class="text-xl mb-2 font-bold text-grey-900 text-center">Login here</h5>
<form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off" novalidate>
  <div class="form-group mb-3">
    <input type="text" placeholder="Email Address" class="form-control" formControlName="email" 
    [class]="{'invalid':loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched,'valid':loginForm.get('email')?.valid }">
    @if(loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched){
      <span class="form-error">Email Address is required</span>
    }

  </div>
  <div class="form-group mb-4">
    <input type="password" placeholder="password" class="form-control" formControlName="password"
    [class]="{'invalid':loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched,'valid':loginForm.get('password')?.valid }">
    @if(loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched){
      <span class="form-error">password is required</span>
    }  </div>
  <button class="btn btn-primary mb-4 w-full">Login</button>
</form>
<hr class="mb-3">
<a href="" class="text-grey-400 text-center btn btn-outline-primary">Or Create a new account Here</a>
</div>
